 
 .planet-container{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(202, 202, 205);
    width:auto;
    height: auto;
    text-shadow: 0px 2px 20px rgb(220, 220, 220);
    box-shadow: 0px 10px 60px rgba(255, 255, 255, 0.365);
    }
    
    .planet-name{
        font-size: 2em;
        margin-left: 5px;
    }
    
    .planet-specs-list{
      font-size: 1em;
      font-weight: bold;
      color: rgb(76, 203, 203);
    }
  
    .page-buttons{
      display: flex;
      justify-content: space-evenly;
    }
  
    .prev-next-btn{
      background: none;
      border: none;
      color:rgba(233, 226, 19, 0.899);
      font-size: 1.5em;
    }
  
    .button-holder{
      display: flex;
      justify-content: space-evenly;
    }